<div class="container mt-5">
    <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
    <div class="row mt-4 text-center">
        <div class="col">
            <div class="card mx-auto card border-primary" style="width: 17.9rem;">
                <img src="assets/teams9\ทีม/team2.png" class="card-img-top" alt="...">
                <div class="card-body text-primary">
                    <h5 class="card-title">นางสาวทัชศรา ปั้นสนธิ</h5>
                    <p class="card-text">ระดับชั้น ปวส.1/5</p>
                    <a >น้ำขิง</a>
                </div>
            </div>
        </div>
  
        
        <div class="col">
            <div class="card mx-auto card border-primary" style="width: 17.9rem;">
                <img src="assets/teams9\ทีม/team1.png" class="card-img-top" alt="...">
                <div class="card-body text-primary">
                    <h5 class="card-title">นายกันนวัฒน์ กล้ามสันเทียะ</h5>
                    <p class="card-text">ระดับชั้น ปวส.1/5</p>
                    <a >โอม</a>
                </div>
            </div>
        </div>
  
        <div class="col">
            <div class="card mx-auto card border-primary" style="width: 17.9rem;">
                <img src="assets/teams9\ทีม/01.png" class="card-img-top" alt="...">
                <div class="card-body text-primary">
                    <h5 class="card-title">นายนครินทร์ ศุภสิทธิ์</h5>
                    <p class="card-text">ระดับชั้น ปวส.1/5</p>
                    <a >น้ำ</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mx-auto card border-primary" style="width: 17.9rem;">
                <img src="assets/teams9\ทีม/02.png" class="card-img-top" alt="...">
                <div class="card-body text-primary">
                    <h5 class="card-title">นายอนันตภูมิ สินสุข</h5>
                    <p class="card-text">ระดับชั้น ปวส.1/5</p>
                    <a >ออโต้</a>
                </div>
            </div>
        </div>