
<html lang="en">
<header>
    <h1 class="center-text text-white" >Smart Parcel Postbox</h1>
</header>
<div class="container mt-3"></div>
<div class="me-5 text-center ">
    <h2>อุปกรณ์ IoT</h2>
    <label class="center-text">ตู้รับพัสดุ Smart Function</label>
</div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ตัวอย่างการจัดวางรูปและข้อมูล</title>
    <style>
        .container {
            display: flex; /* ทำให้ container เป็น flex container */
        }
        .image {
            flex: 1; /* ให้รูปภาพยืดเต็มพื้นที่ที่เหลือ */
        }   
        .content {
            flex: 2; /* ให้ส่วนของเนื้อหายืดเต็มพื้นที่ที่เหลือ */
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="assets/pin/pin0.png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>ESP32</h2>
            <p>ESP32 คือ ชิปไมโครคอนโทรลเลอร์ขนาดเล็กแต่ทรงพลัง ที่มาพร้อมกับความสามารถในการเชื่อมต่อ Wi-Fi และ Bluetooth ในตัว 
                ทำให้เป็นตัวเลือกที่ได้รับความนิยมอย่างมากสำหรับการพัฒนาอุปกรณ์ IoT (Internet of Things) หรืออุปกรณ์ที่สามารถเชื่อมต่ออินเทอร์เน็ตได้หลากหลายประเภท</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <img src="assets/image\รูปภาพ/esp32cam.png" width="361" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>ESP32-CAM</h2>
            <p>ESP32-CAM คือ โมดูลกล้องขนาดเล็กที่ใช้พลังงานต่ำ ใช้ชิป ESP32 มาพร้อมกับกล้อง OV2640 และมีช่องเสียบ SD Card ในตัว สามารถเชื่อมต่อ WiFi+Bluetooth เพื่อการควบคุมระยะไกลได้</p>
        </div>
    </div> 

    <div class="container">
           <div class="image">
               <img src="assets/pin/pin2.png" alt="รูปภาพ">
           </div>
           <div class="content">
               <h2>Breadboard</h2>
               <p>อุปกรณ์ที่ใช้สำหรับทดลองวงจรอิเล็กทรอนิกส์ มีลักษณะเป็นแผ่นพลาสติกที่มีรูเล็กๆ เรียงกันเป็นแถวและคอลัมน์ 
                ภายในรูเหล่านี้จะมีตัวนำไฟฟ้าเชื่อมต่อกันในรูปแบบที่กำหนดไว้ ทำให้เราสามารถเสียบขาของอุปกรณ์อิเล็กทรอนิกส์ต่างๆ 
                ลงไปในรูเหล่านี้เพื่อเชื่อมต่อวงจรได้อย่างง่ายดาย</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <img src="assets/pin/pin3.png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>JumperWire Male to Male</h2>
            <p>สายจั๊มเปอร์ตัวผู้ทั้งสองข้าง นั้นเป็นสายไฟชนิดหนึ่งที่ใช้สำหรับเชื่อมต่อจุดต่างๆ บนวงจรอิเล็กทรอนิกส์ 
                โดยเฉพาะอย่างยิ่งเมื่อใช้งานร่วมกับ โพรโทบอร์ด หรือ แผ่นทดลองวงจร</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/pin/pin4.png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>JumperWire Male to Female</h2>
            <p>สายไฟ Jumper ผู้-เมีย หรือที่เรียกกันทั่วไปว่า สายจั๊มเปอร์ นั้นเป็นอุปกรณ์ที่สำคัญอย่างยิ่งสำหรับผู้ที่ทำงานกับวงจรอิเล็กทรอนิกส์
                 โดยเฉพาะอย่างยิ่งเมื่อใช้งานร่วมกับ โพรโทบอร์ด หรือ แผ่นทดลองวงจร</p>
        </div>
    </div>   

    <div class="container">
        <div class="image">
          <img src="assets/image\รูปภาพ/IR sensor.jpg" width="361" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>IR Infrared Sensor</h2>
            <p>IR Infrared Sensor หรือเซ็นเซอร์อินฟราเรด (Infrared Sensor) เป็นอุปกรณ์ ที่ใช้ในการตรวจจับแสงอินฟราเรดที่ไม่สามารถมองเห็นได้ด้วยตาเปล่า (Infrared Light) เพื่อให้ไมโครคอนโทรลเลอร์ สามารถตรวจจับวัตถุที่มี การแสดงผลอินฟราเรดได้</p>
        </div>
    </div>  

    <div class="container">
        <div class="image">
          <img src="assets/image\รูปภาพ/Pilot lamp LED.jpg" width="361" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Pilot lamp LED</h2>
            <p>Pilot lamp LED คือ หลอดไฟแสดงสถานะการทำงานของเครื่องจักร นิยมติดตั้งอยู่บริเวณตู้ควบคุม โดยมีหน้าที่หลักคือ บอกสถานะการทำงาน เช่น กำลังทำงานอยู่, หยุดการทำงาน, แจ้งเตือนในกรณีที่มีสิ่งผิดปกติเกิดขึ้น นอกจากนี้ยังสามารถแสดงสถานะอื่นๆ ได้ตามสีของหลอดไฟ ตามที่ผู้ออกแบบกำหนด</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/pin/pin7.png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Ultrasonic Sensor</h2>
            <p>Ultrasonic Sensor คือ เซ็นเซอร์ที่ใช้สำหรับตรวจจับวัดถุต่างๆ โดยอาศัยหลักการสะท้อนของคลื่นความถี่เสียง และ คำนวณหาค่าระยะทางได้จากการเดินทางของคลื่นและนำมาเทียบกับเวลา ด้วยกลไกดังกล่าวทำให้เราสามารถนำมาประยุกต์ใช้งานในรูปแบบต่างๆได้อย่างมากมาย</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/image\รูปภาพ/Buzzer.jpg" width="361" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Buzzer</h2>
            <p>Buzzer เป็นอุปกรณ์สร้างเสียงอิเล็กทรอนิกส์ในตัวซึ่งเป็นชิ้นส่วนอิเล็กทรอนิกส์ชนิดหนึ่งและใช้พลังงานจากแรงดันไฟฟ้ากระแสตรงหรือแรงดันไฟฟ้ากระแสสลับ</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/image\รูปภาพ/Resistor.webp" width="361" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Resistor</h2>
            <p>Resistor หรือ ตัวต้านทาน ทำหน้าที่ลดการไหลของกระแสและในเวลาเดียวกันก็ทำหน้าที่ลดระดับแรงดันไฟฟ้าภายในวงจรทั่วไป อาจเป็นแบบค่าความต้านทานคงที่ หรือค่าความต้านทานแปรได้</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/image\รูปภาพ/Battery.jpg" width="361" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Battery</h2>
            <p>Battery เป็นแหล่งกำเนิดไฟฟ้าอาศัยการเปลยี่นแปลงทางด้านเคมีที่บรรจุภายในซึ่งเซลล์แต่ละเซลล์ของแบตเตอรี่จะต่อเป็นอนุกรมขนาน หรือแบบผสมขึ้นอยู่กับขนาดของแรงดันและกระแสที่ต้องการ แรงดันไฟฟ้าชนิดต่างๆ ที่ได้จากเซลล์แบตเตอรี่ขึ้นอยู่กับวัสดุที่ใช้ในการสร้าง</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/image\รูปภาพ/Box.jpg" width="361" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>กล่องพลาสติกอเนกประสงค์</h2>
            <p>กล่องพลาสติกอเนกประสงค์กันน้ำ สีขาว สำหรับพักสายไฟหรือประกอบวงจรไฟฟ้า</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/image\รูปภาพ/mailbox-nl-home.jpg" width="361" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>ตู้รับพัสดุ</h2>
            <p>ตู้ไว้สำหรับรับพัสดุ ในกรณีที่เจ้าหน้าที่มาส่งของแล้วแต่เราไม่สามารถรับได้ด้วยตนเอง หรือมาส่งในตอนที่เราไม่อยู่</p>
        </div>
    </div>

   